h1,
[class="collection"] {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #3b3b3a 0%,
      #868683 25%,
      #c9c8c3 57%,
      #f6f5f0 50%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s ease infinite;
  display: center;
  font-size: 150px;
  text-align: center;
  filter: drop-shadow(10px 10px 10px rgb(169, 161, 170));

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

div,
[class="row"] {

  background-image: radial-gradient(#f0f3f5, #168aef);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s ease infinite;
  animation-direction: alternate-reverse;
  display: center;
}

h5,
[class="card-title"] {

  background-image: linear-gradient(180deg,
      #00000874 0%,
      #01050d8f 29%,
      #28097c 67%,
      #050225 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s drop infinite;
  display: center;

}